<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/footer.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
	<header>
		<nav role="navigation" class="navbar navbar-default">
	  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Бренд</a>
		  </div>
		  <!-- Collection of nav links, forms, and other content for toggling -->
		  <div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			  <li class="active"><a href="#">Главная</a></li>
			  <li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i> Cartriges <b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
				  <li><a href="#">add</a></li>
				  <li><a href="#">Remove</a></li>
				  <li><a href="#">order</a></li>
				  <li><a href="#">hestory</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-print" aria-hidden="true"></i> Prints <b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
				  <li><a href="#">search</a></li>
				  <li><a href="#">add</a></li>
				  <li><a href="#">edit</a></li>
				  <li class="divider"></li>
				  <li><a href="#">delete</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Unit <b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
				  <li><a href="#">history requests</a></li>
				  <li><a href="#">history repairs</a></li>
				  <li><a href="#">create requests</a></li>
				  <li class="divider"></li>
				  <li><a href="#">doc stor</a></li>
				</ul>
			  </li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Войти / <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
			</ul>
		  </div>
		</nav>

</header>
<main>
		<div class="row">
			<div class="col-md-4">
				<img src="img/3030.jpg" alt="..." class="img-thumbnail">
			</div>
			<div class="col-md-4">
					<input type="text" class="form-control" placeholder="Name" value="132"><br>
					<input type="text" class="form-control" placeholder="#Unit"><br>
					<input type="text" class="form-control" placeholder="Model"><br>
					<input type="text" class="form-control" placeholder="Серийный"><br>
					<input type="text" class="form-control" placeholder="Инвентарный"><br>
					<h4>ID <strong>1</strong></h4>
			</div>
			<div class="col-md-4">
					<select class="form-control">
						<option selected>Этаж</option>
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select><br>
					<select class="form-control">
						<option selected>Отдел</option>
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select><br>
					<select class="form-control">
						<option selected>Картридж</option>
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select><br>
					<select class="form-control">
						<option selected>Статус</option>
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select><br>
					<input type="text" class="form-control" placeholder="Функционал"><br>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
					<br>
					<hr>
					<br>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>№ п/п</th>
							<th>Имя</th>
							<th>Фамилия</th>
							<th>E-mail</th>
							
						</tr>
					</thead>
					<tbody>
					   <tr onclick="window.location.href='edit/1'; return false">
							<td>1</td>
							<td>Иван</td>
							<td>Чмель</td>
							<td>ivan@mail.ru</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Петр</td>
							<td>Щербаков</td>
							<td>petr@mail.ru</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Юрий</td>
							<td>Голов</td>
							<td>yuri@mail.ru</td>
						</tr>
					</tbody>
				</table>
	</main>
	<!--Футер-->
	  <footer>
		<p >info by IT Kursk</p>
	  </footer>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>